body {
  margin: 0;
  font-family: $font-family-base;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 40px;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
